.top-header{
    background-color: #333333;
    height: 59px;
    color: white;
    padding: 10px;
}
.w{
    color:white;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    
    display: flex;
    align-items: center;
}
.username{
    background-color: #ffffff;
    height: 26px; 
}
.mainheader{
    background-color: #e0e0e0;
    height: 75px; padding: 2px;
}
.l{
    font-family: Arial Black ;
    padding: 15px;
    font-size: 44px;
}
/*header over*/
/*navigation section starts here*/
.navcontainer{
    background-color: #f1f1f1;
    height: 34px;
    text-align: center;
}
#nav{
    background-color: #f1f1f1;
    max-height: 34px;
    text-align: center;overflow: hidden; padding: 10px 0px 2px 0px;
}
#nav ul{
    margin: 0px;
    text-align: center;
}
#nav ul li
{
    list-style-type: none;
    display: inline;
}
#nav ul li a
{
    color: black;
}
#nav ul li a:hover
{
    background-color: black;
    color: white;
}
#nav li:before {
content: " | ";
padding: 10px;
}
#nav li:first-child:before {
content: none;
}
/*navigation section ends here*/
/*content section starts here*/
.main-section {
    background-color: #e0e0e0;
    padding: 0px 10px 10px 10px;    
}
/*artical section beging*/
.artical{
    background-color: #f3f3f3;
    height: 370px;min-height: 370px;max-height: 1000px;
    margin: 35px 0px 0px 50px;overflow: hidden;            /*artical col*/
}
    .main-artical{
        border: 1px solid black; 
        height: 340px;min-height: 340px;
        margin: 14px 0px 0px 40px;overflow: hidden;
        
    }
        .main-artical-display{
            border-width: 0px 0px 1px 1px;
            border-color: black;
            border-style: solid;
            height: 270px;
            margin: 0px;
            padding: 5px;
            
            background-color: #eee;
            overflow: hidden;
            min-height: 266px
        }
        .main-artical-sub{
            border: 1px solid black;   
            height: 60px;
        }
    .side-artical{
        background-color: #f3f3f3;
        height: 370px;
        margin: 35px 0px 0px 0px;
        font-size: 12px;
    }
            .side-artical1{
                border: 1px solid black;
                height: 266px;min-height: 266px;max-height: 1000px;overflow: hidden;   
                top: 14px;
                padding: 0px 0px 0px 0px;
            }                                   /*articals in side these both*/
            .side-artical2{
                border: 1px solid black;
                height: 66px;
                margin: 12px 0px 0px 0px;
                top: 10px;overflow: hidden;padding: 0px 5px 10px 5px;
            }
.m-0{
    margin: 0px 0px 0px 0px;
}
.m-t-1{
    margin: 1px 0px 0px 0px;
}
.m-t-2{
     margin: 5px 0px 0px 0px;
}
.m-t-3{
     margin: 10px 0px 0px 0px;
}
.m-t--1{
    margin: -5px 0px 0px 0px;
}
.m-t--2{
    margin: -10px 0px 10px 0px;
}
.m-l-1{
    margin: 0px 0px 0px -30px;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.t-l{
    text-align: left;
}
.t-r{
    text-align: right;
}
.button {
    background-color: #dcdcdc;
    border: 1px solid #666;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
/*artical section ends*/
/*slider section beging*/
.slider{
    border: 1px solid black;
    background-color: #ffffff;    
    overflow: hidden;
    margin: 10px 0px 0px 43px;
        
}
.slider-display{
    background-color: #ffffff;
    min-height: 244px;
    overflow: hidden;    
    padding: 45px 5px 45px 5px;    
}
/*slider section ends*/
/*slider section ends*/
.online{
    border: 1px solid black;
    background-color: #ffffff;
    padding: 5px; min-height: 244px;
    margin: 10px 0px 0px 10px;   
}
/*slider section ends*/
/* work section starts*/
.work{
    border: 1px solid black;
    background-color: #ffffff;
    height: 254px;
    padding: 5px;
    margin: 10px 0px 0px 43px;
    font-size: 12px;overflow: hidden;
}
/*work section ends*/
/*announcement section starts*/
.announcement{
    border: 1px solid black;
    background-color: #ffffff;
    height: 254px; 
    padding: 5px;
    margin: 10px 0px 0px 5px;
    font-size: 12px;overflow: hidden;
}
/*announcement section ends*/
/*entry section starts*/
.entry{
    border: 1px solid black;
    background-color: #ffffff;
    height: 254px;
    padding: 5px;
    margin: 10px 0px 0px 5px;
    font-size: 12px;
}
/*entry section ends*/
/*external section starts*/
.external{
    border: 1px solid black;
    background-color: #ffffff;
    min-height: 244px;
    margin: 10px 0px 0px 43px;
    font-size: 12px;
    padding: 10px 0px 75px 0px;  
}
.ex1{
    border: 1px solid black;
    background-image: url(../image/1.jpg);
    background-size: cover;
    height: 58px;
    margin: 0px 0px 0px 10px;padding: 10px 10px 10px 0px;
}
.ex2{
    border: 1px solid black;
    background-image: url(../image/2.jpg);
    background-size: cover;
    height: 58px;
    margin: 0px 0px 0px 10px;padding: 10px 10px 10px 0px;
}
/*external section ends*/
/*feedback section starts*/
.feedback{
    border: 1px solid black;
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 0px 10px;
    font-size: 12px;min-height: 244px;
}
/*feedback section ends*/

/*desccription section starts*/
.description{
    background-color: #f3f3f3;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 0px 50px;
    font-size: 11px;overflow: hidden;
}
/*desccription section ends*/             /*content section ends here*/

/*footer starts*/
#footer {
    background-color: #646464;
    padding: 5px;
    color: white;
    font-size: 12px;
}
.footer {
    background-color: #646464;
    padding: 5px;
    color: white;
    font-size: 12px;overflow: hidden;
}
#footer ul{
    text-decoration: none;
    margin-top: 10px;
}
#footer ul li{
    list-style-type: none;
   
}
#footer ul li a{
    text-decoration: none;
    color: white;
}
.large{
    font-size: 18px;
}
/*footer ends*/
/*artical carousel starts*/
        #custom_carousel .item {
            color: #000;
            background-color: #eee;
            padding: 0px;margin: 0px;
        }
        #custom_carousel .controls {
            overflow-x: hidden;
            overflow-y: hidden;
            padding: 0;
            margin: 0;
            white-space: nowrap;
            text-align: center;
            background: #ddd;
            height: 60px;
           
        }
        
        #custom_carousel .controls li {
            display: table-cell;
            width: 1%;
            max-width: 90px;
        }
        
        #custom_carousel .controls li.active {
            background-color: #eee;
            border-top: 3px solid orange;
        }
        
        #custom_carousel .controls a small {
            overflow: hidden;
            display: block;
            font-size: 10px;
            margin-top: 5px;
            font-weight: bold
        }
/*artical carousel ends*/

/*sliders carousel starts*/
.carousel-control.left, .carousel-control.right {
	background-image:none;
        text-align: center;
}

.img-responsive{
	width:100%;
	height:auto;
}

@media (min-width: 992px ) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
}

@media (min-width: 768px) and (max-width: 991px ) {
	.carousel-inner .active.left {
		left: -33.3%;
	}
	.carousel-inner .next {
		left:  33.3%;
	}
	.carousel-inner .prev {
		left: -33.3%;
	}
	.active > div:first-child {
		display:block;
	}
	.active > div:first-child + div {
		display:block;
	}
	.active > div:last-child {
		display:none;
	}
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}
	.carousel-inner .next {
		left:  100%;
	}
	.carousel-inner .prev {
		left: -100%;
	}
	.active > div {
		display:none;
	}
	.active > div:first-child {
		display:block;
	}
        .b{
            border: 1px solid black;
            height: 50px;
        }
}
/*sliders carousel ends*/